<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>404 Not Found</title>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="">


<%- include('partials/header', { active: null }) %>

<main style="padding-top:6rem; text-align:center;" data-aos="fade-up">
  <h1>404</h1>
  <p>Oops! Page not found.</p>
  <a href="/" class="button">Back to Home</a>
</main>

<%- include('partials/footer') %>
