<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>About | DAVEY GRAVY</title>

  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="">


<%- include('partials/header', { active:'about' }) %>

<main data-aos="fade-up" style="padding-top:6rem; max-width:800px; margin:auto;">
  <h1>About Me</h1>
  <p>
    Davey Gravy is a commercial photographer and videographer based in Calgary, Canada. Through my life I have always found beauty in the world around me. I began my creative career in visual arts by attending and graduating from Alberta College of Art + Design. Since then, I have found my home in photography and videography. I’ve been fortunate to travel locally and abroad with clients to share stories and capture beauty.
  </p>
  <p>
    I aim to tell authentic stories through everything I do, by creating natural-feeling content with a hint of documentary style and a unique and meaningful approach. Being trained as a multidisciplinary artist has encouraged me to explore different mediums, overcome challenges, and take risks to create something memorable.
  </p>

  <h2 style="margin-top:3rem;">Select Clients</h2>
  <p style="line-height:1.5;">
    American Express Canada, Banff & Lake Louise Tourism, Blundstone Canada, Budweiser, Calgary Stampede, City of Calgary, Columbia Sportswear, Coors Altitude, DJI, Frank & Oak, Flair Airlines, Ford Canada, Destination British Columbia, Hennessy, Indigenous Tourism Alberta, Jaguar USA, lululemon, Marriott, Neo Financial, ONA Bags, One Child, Rains, Redbull, Socality, Tourism Kelowna, Travel Alberta, Tourism Calgary, Tourism Saskatchewan, WestJet
  </p>

  <h2 style="margin-top:3rem;">Select Interviews</h2>
  <p>
    <a href="#" class="button" style="margin-right:1rem;">Buzzfeed</a>
    <a href="#" class="button">Hypebeast</a>
  </p>
</main>

<%- include('partials/footer') %>
